.active-link {
    color: #0ea5e9;
    /* fallback (sky-500) */
}

.active-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 3px;
    border-radius: 2px;
    background: linear-gradient(to right, #0ea5e9, #6366f1, #d946ef);
}