.timeline-background {
    background-image: radial-gradient(#cbd5e1 1px, transparent 1px);
    background-size: 20px 20px;
}

:where(.dark) .timeline-background {
    background-image: radial-gradient(#334155 1px, transparent 1px);
    /* slate-700 */
}